<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="newwave.videomaker.statusmaker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />

    <application
        android:name="newwave.videomaker.statusmaker.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="newwave.videomaker.statusmaker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".activity.NV_VideoTrimActivity" />
        <activity
            android:name=".activity.SplashscreenActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.NV_VideoEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NV_LibraryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NV_SaveVideoFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NV_AlbumdataActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.NV_WhatsappActivity" />
        <activity android:name=".activity.NV_FullViewDataActivity" />
        <activity android:name=".activity.NV_VideoListActivity" />

    </application>
</manifest>
